div.post
  h3
    a.capitalize(href=post.url)
      = post.title
  div.content.preview
    != post.preview
    a.read-more
      img.arrow(src='../images/arrow.svg', alt='')
  div.tags
    - each tag in post.tags
      a(href=tagUrl(tag))
        span.label.label-info #{tag}

 
