
div#portfolio.slide 
  h2 Work 
  div.head
    div.overlay 


.container
  article.main 
    img.triangle(src='../images/triangle-2.png', alt='')
    p.main 
      | I like to do stuff sometimes, here's some of that stuff.
    section.work
      .art
        h3
          .block 
            img.small(src='../images/preview_03.jpg', alt='')
            a.title(href='#') Transduction of Past, Present, and Future
        .figure
          img.tranduction(src='../images/trans.jpg', alt='')
        h3
          .block 
            img.small(src='../images/preview_05.jpg', alt='')
            a.title(href='#') The Window
        .figure
          img.window(src='../images/the-window.jpg', alt='')
        h3
          .block 
            img.small(src='../images/preview_07.jpg', alt='')
            a.title(href='#') No Control
        .figure
          img.no(src='../images/no.jpg', alt='')
        h3
          .block 
            img.small(src='../images/preview_09.jpg', alt='')
            a.title(href='#') Dreams
        .figure
          img.dream(src='../images/watercolor.jpg', alt='')
             
           
