
div#portfolio.slide 
  h2 Work 
  div.head
    div.overlay 


.container
  article.main 
    img.triangle(src='../images/triangle-2.png', alt='')
    p.main 
      | I like to do stuff sometimes, here's some of that stuff.
    section.work
      .art
        img.small(src='../images/preview_03.jpg', alt='')
        .figure
          figure.easyzoom
            a.small(href='../images/trans2.jpg')
              img.tranduction(src='../images/trans-small.jpg', alt'')
        img.small(src='../images/preview_05.jpg', alt='')
        .figure
          figure.easyzoom
            a.small(href='../images/trans2.jpg')
              img.window(src='../images/the-window.jpg', alt='')
        img.small(src='../images/preview_07.jpg', alt='')
        .figure
          figure.easyzoom
            a.small(href='../images/trans2.jpg')
              img.no(src='../images/no.jpg', alt='')
        img.small(src='../images/preview_09.jpg', alt='')
        .figure
           figure.easyzoom
            a.small(href='../images/trans2.jpg')
            img.dream(src='../images/watercolor.jpg', alt='')
             
           
