doctype html
html
  head
    block head
      title= 'Poet Demo'
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')

      link(rel='stylesheet', href='/styles/main.css')
      link(rel='stylesheet', href='/styles/mailchimp.css')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
      script(type='text/javascript', src='../javascript/flowtype.js')
      script(type='text/javascript', src='../javascript/jquery.fittext.js')
  body
    block work
      div.gradient
        div.sub
      nav.bar
        .nav-tablet
              span.icon-tablet
              span.icon-tablet
              span.icon-tablet
        ul.nav
          li.nav
            a.brand(href='/') Blog
              .brand-gradient
          li.nav 
            a.brand(href='/work') Work
              .brand-gradient.two
        .lines
          .line-1
          .line-2
          .line-3
          .line-4
        a#pull
          .nav-button
            span.icon-bar
            span.icon-bar
            span.icon-bar

        h1.expand Tags
          .brand-gradient.three
        ul.navi.nav-list 
          li.nav-header 
          - each tag in getTags()
            li.tag
              a(href=tagURL(tag)) #{tag}
              
        block about
          .about
            .bottom
              img.self(src='../images/self.png', alt='')
              h1.about-me About
              p.me I am a community college student/ philosopher/ dunce interested in art, design. music and web development. I try to make sense.
              
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='http://heroku.us3.list-manage.com/subscribe/post-json?u=e1cf44a59fecbe47cda7b5e61&id=b2b4f9b0fa&c=?', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
                  input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='required')
                  div.form
                    input(type='text', name='b_e1cf44a59fecbe47cda7b5e61_b2b4f9b0fa', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
                .notification_container

     
      .wrap
        .header
          h2.design.radio RADIO
          h2.design SCHIZO
        .row
          .blur
          article.blog
            p.top thinking too much
            .line
            .line-two
            .line-three
            .line-four
            .line-five
            .line-six
            .line-seven
            .line-eight
            .line-nine
            .line-ten

          .span8
            block content

  
  block script          
    script.
      $(window).bind('scroll', function() {
           if ($(window).scrollTop() > 330) {
             $('nav.bar').addClass('out').removeClass('bar');
            }
           else {
               $('nav').removeClass('out').addClass('bar');
           }
      });


      $(document).ready(function() {
        $("ul.navi").addClass("hide")
      });

      


      $(window).scroll(function() {
          var el = $('.header');    
          var offset = el.offset();  
          var opacity = ( ((offset.top * 1.5) - el.height() -100) /1000 ) * -1.2;
          $('.header').css('opacity', opacity );
      });
 
      $('h1.expand').click(function(){

        $("ul.navi").toggleClass("hide", 300);
        $('ul.navi>li.tag').toggleClass('children');
        if(w < 559 && menu.is(':visible')){
          menu.hide();
        }
      });


      




      $('.nav-tablet').click(function() {
          $('nav').toggleClass("tablet", 100);
          menu.show();
          $('.about').toggleClass("about-slide");
      });

      var w = $(window).width();
      var menu    = $('ul.nav');
      $(function() {
        var pull    = $('#pull');
        menuHeight  = menu.height();

        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
           if($(".tag").hasClass("children")) {
             $(".tag").removeClass('children');
             $(".navi").addClass('hide');
          }

        });


        $(window).resize(function(){
          if(w > 642 && menu.is(':hidden')) {
            menu.removeAttr('style');
          }
        });
      });

      jQuery(".design").fitText(.4, { minFontSize: '80px', maxFontSize: '150px' })

      window.onload = function(){
        var elements = document.getElementsByClassName("capitalize")
        for (var i=0; i<elements.length; i++){
          elements[i].innerHTML = elements[i].innerHTML.replace(/\b([a-z])([a-z]+)?\b/gim, "<span class='first-letter'>$1</span>$2")
        }
      }




      