doctype html
html
  head
    block head
      title= 'Poet Demo'
      meta(charset='utf-8')
      link(rel='stylesheet', href='/styles/main.css')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  body
    block work
      div.gradient
        div.sub
      nav.bar
        ul.nav
          li.nav 
            a.brand(href='/') Blog
              .brand-gradient
          li.nav 
            a.brand(href='/work') Work
              .brand-gradient.two

        h1.expand Tags
        ul.navi.nav-list 
          li.nav-header 
          - each tag in getTags()
            li.tag
              a(href=tagURL(tag)) #{tag}

     
      .wrap
        .header
          h2.design.radio RADIO
          h2.design SCHIZO
        .row
          .blur
          .span8
            block content
  
  block script          
    script.
      $(window).bind('scroll', function() {
           if ($(window).scrollTop() > 330) {
             $('nav.bar').addClass('out').removeClass('bar');
            }
           else {
               $('nav').removeClass('out').addClass('bar');
           }
      });

      $(window).scroll(function() {
          var el = $('.header');    
          var offset = el.offset();  
          var opacity = ( ((offset.top * 2.3) - el.height() -100) /1500 ) * -1.2;
          $('.header').css('opacity', opacity );
      });
 
      $('h1.expand').click(function(){
        $('ul.navi>li.tag').toggleClass('children');
        }
      );

      $("li.tag").addClass('hide');

