
doctype html
html
  head
    block head
      title= 'Nathan Zankich'
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
      link(rel='icon', type='image/icon', href='public/images/favicon.ico')

      link(rel='stylesheet', href='/styles/main.css')
      link(rel='stylesheet', href='/styles/mailchimp.css')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
      script(type='text/javascript', src='../javascript/modernizr.js')
      script(type='text/javascript', src='../javascript/flowtype.js')
      script(type='text/javascript', src='../javascript/jquery.fittext.js')
      script(type='text/javascript', src='../javascript/respond.js')

  body
    h1.name
      a.name(href='/') Nathan Zankich
      a.name.mobile(href='/') NZ 
    nav.bar
      ul.nav
        li.nav
          a.brand(href='/') Blog
            .active
        li.nav 
          a.brand(href='/work') Work
            .active
      a#pull
        .nav-button
          span.icon-bar Menu

      
      .arrow-button
      ul.sub-nav
        //li.sub-navform.search(method='get', action='/search')input.search-input(type='text', name='q', size='21', maxlength='120')input.search-button(type='submit', value='Search')
        li.sub-nav 
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='http://heroku.us3.list-manage.com/subscribe/post-json?u=e1cf44a59fecbe47cda7b5e61&id=b2b4f9b0fa&c=?', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
                input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')

                input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
                div(style='position: absolute; left: -5000px;')
                  input(type='text', name='b_e1cf44a59fecbe47cda7b5e61_b2b4f9b0fa', value='')
              #notification_container
        block nav
          li.sub-nav Tags
            ul.navi
              - each tag in getTags()
                li.tag
                  a(href=tagURL(tag)) #{tag}
        li.sub-nav.left  Find Me
          .social-container
            //a.social(href='https://www.twitter.com/')
              //img.social(src='../images/twitter.svg', alt='')
            a.social(href='https://www.behance.net/stavrogin')
              img.social(src='../images/behance.svg', alt='')
        

    .header
      a.design.radio(href='/') RADIO
      a.design(href='/') SCHIZO
    .wrap
      .row
        block article
          .top
            img.self(src='../images/self-circle.png', alt='')
            p.top I am a college student learning web development interested in art, design, music and coding.

          .blog
            block content
      footer
        p Nathan Zankich 2014
  
    script.

      $(function() {
           var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/"));
           $("ul.nav li.nav a.brand").each(function(){
              if($(this).attr("href") == pgurl || $(this).attr("href") == '' || $(this).attr("href") == 'post/') {
                $(this).addClass("current"); 
              }
              if($(this).attr("href") == pgurl || $(this).attr("href") == '' ) {
                $(this).addClass("current");
              }
           })
      });
       

      $('.arrow-button').click(function(){
        $(".sub-nav").toggleClass("expand", 300);
        
      });
    
      $(window).scroll(function() {
          var el = $('.bar');    
          var offset = el.offset();  
          var opacity = ( ((offset.top * .62) - el.height() -100) /1000 ) * -6.5;
          $('.header').css('opacity', opacity );
      });

      $('.nav-tablet').click(function() {
          $('nav.bar').toggleClass("tablet", 100);
          menu.show();
          $('.about').toggleClass("about-slide");
      });

      var w = $(window).width();
      var h = document.documentElement.clientHeight;
      var bottom = $('.bottom');
      
      ///for mobile nav
      function checkMq() {
          if (Modernizr.mq('(min-width: 585px)')) {
            $('h1.expand').click(function(){
              menu.show(slow);
            });
            
          } else if (Modernizr.mq('(max-width:584px) and (min-width: 0px)')) {
            $('.mobile-nav').click(function(){
              if(menu.is(':visible')){
                menu.slideToggle();
                e.preventDefault();
              }
            });
          } 
      }

      $(function() {
          // the call to checkMq here will execute after the document has loaded
          checkMq();

          $(window).resize(function() {
              // the call to checkMq here will execute every time the window is resized
              checkMq();
          });

          // you can add other listeners here click, hover, etc.  
      });

      $(function() {
        var pull    = $('#pull');
          menu    = $('nav ul.nav');
          menuHeight  = menu.height();
  
        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });
  
        $(window).resize(function(){
              var w = $(window).width();
              if(w > 641 && menu.is(':hidden')) {
                menu.removeAttr('style');
              }
          });
      });

      jQuery(".design").fitText(.4, { minFontSize: '80px', maxFontSize: '150px' })


      $(function () {
        var $form = $('#mc-embedded-subscribe-form');
       
        $('#mc-embedded-subscribe').on('click', function(event) {
          if(event) event.preventDefault();
          register($form);
        });
      });

      function register($form) {
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize(),
          cache       : false,
          dataType    : 'json',
          contentType: "application/json; charset=utf-8",
          error       : function(err) { $('#notification_container').html('<span class="alert">Could not connect to server. Please try again later.</span>'); },
          success     : function(data) {
            
            if (data.result != "success") {
              var message = data.msg.substring(4);
              $('#notification_container').html('<span class="alert">'+message+'</span>');
            } 
       
            else {
              var message = data.msg;
              $('#notification_container').html('<span class="success">'+message+'</span>');
            }
          }
        });
      }


      