extends layout

block head
  title #{title} - Nathan Zankich
  link(rel='stylesheet', href='/styles/main.css')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  script(type='text/javascript', src='../javascript/easyzoom.js')

block work
  div.back2 
  div.back
    .shadow

  header
    h1.name Nathan Zankich 
  nav
    ul.work-nav 
      li.work-nav
        //a.nav(href='/') 
        a.nav(href='#portfolio', rel='') Portfolio
        a.nav(href='/') Blog

  div#portfolio.slide 
    h2.work Work 
    div.head
      div.overlay 
  
  
  .content
    article.main 
      img.triangle(src='../images/triangle-2.png', alt='')
      p.main 
        | I like to do stuff sometimes, here's some of that stuff.
      section.work
        .art
          img.small(src='../images/preview_03.jpg', alt='')
          .figure
            figure.easyzoom
              a.small(href='../images/trans2.jpg')
                img.tranduction(src='../images/trans-small.jpg', alt'')
          img.small(src='../images/preview_05.jpg', alt='')
          .figure
            figure.easyzoom
              a.small(href='../images/trans2.jpg')
                img.window(src='../images/the-window.jpg', alt='')
          img.small(src='../images/preview_07.jpg', alt='')
          .figure
            figure.easyzoom
              a.small(href='../images/trans2.jpg')
                img.no(src='../images/no.jpg', alt='')
          img.small(src='../images/preview_09.jpg', alt='')
          .figure
             figure.easyzoom
              a.small(href='../images/trans2.jpg')
              img.dream(src='../images/watercolor.jpg', alt='')
               
           
