a,
a:active,
a:visited {
  text-decoration: none;
}
a {
  color: #2b0909;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: .8;
}
button:hover {
  cursor: pointer;
}
.first-letter {
  font-size: 40px;
}
html {
  background-color: black;
}
div.back {
  width: 100%;
  height: 110%;
  position: fixed;
  display: block;
  z-index: -10;
  background-size: 100%;
  background-image: url('../images/head.jpg');
  background-attachment: fixed;
}
body {
  margin: 0;
}
ul.nav {
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  top: 30px;
}
li.nav {
  list-style: none;
  margin: 0 auto;
}
article.main {
  background-color: white;
  top: 50px;
  z-index: 1;
  display: block;
  width: 100%;
  position: relative;
  margin: 335px 0 0 0px;
}
p.top {
  font: 300 14px/30px open sans condensed, droid sans;
  text-align: left;
  color: black;
  margin-top: -2%;
  opacity: .4;
}
p.main {
  font: 300 18px/25px open sans condensed, sans-serif;
  top: 0;
  text-align: center;
  width: 72%;
  margin: 0 0 -3% 11%;
  padding-top: 1%;
}
.art {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  left: 3%;
}
a.fancybox {
  width: 27%;
  max-width: 300px;
  margin: 5% 1% 0%;
  left: 4%;
  height: auto;
  display: block;
  float: left;
  z-index: 15;
  top: 46px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 3px black;
}
a.fancybox:hover {
  opacity: 1;
}
img.small {
  position: relative;
  display: block;
  width: 100%;
}
img.small:hover {
  cursor: pointer;
}
.image-hover {
  color: white;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1;
  opacity: 0;
}
h2 {
  font: 300 25px/30px open sans, droid sans;
  text-align: center;
  color: white;
  opacity: .4;
}
.transition {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  opacity: 1;
  top: -100%;
  right: -100%;
  margin: 0 0 100% 100%;
}
.transition-out {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
article.blog {
  width: 77%;
  display: block;
  position: relative;
  margin: 332px auto 0;
  font: 300 22px/30px open sans;
  text-align: center;
  padding: 5% 11.5%;
  overflow: hidden;
}
div.gradient {
  width: 10%;
  height: 1200px;
  right: 0;
  z-index: 20;
  position: fixed;
}
.header {
  width: 100%;
  height: 108%;
  position: fixed;
  display: block;
  z-index: 1;
  background-size: 100%;
  background-image: url('../images/head.jpg');
  background-attachment: fixed;
  left: 4%;
  opacity: 1;
}
h2.design {
  font: 300 150px/30px Market;
  color: black;
  margin-top: 122px;
  opacity: .2;
  text-align: center;
  left: 9.5%;
  position: fixed;
  width: 81%;
}
h2.design:first-child {
  letter-spacing: -1px;
}
.radio {
  top: -19px;
}
.navi {
  margin: -17px 0 0 0;
  list-style: none;
  overflow: hidden;
  background-color: #111;
  padding: 0 14px 0;
  position: absolute;
  width: 99%;
}
.nav-header,
.tag > a {
  color: white;
  font: normal 15px/20px droid sans;
}
.nav-header:hover,
.tag > a:hover {
  cursor: pointer;
  opacity: .8;
}
h1.expand {
  font: 300 19px/28px open sans, ubuntu, arial, times;
  color: white;
  margin-top: 185px;
  padding-left: 15px;
  position: relative;
  display: block;
  top: -35px;
  height: 30px;
  z-index: -1;
  background-size: 200% 100%;
  background-position: 0 0;
  cursor: pointer;
}
h1.expand:hover > div {
  background-position: -100% 0;
}
nav:hover h1.expand {
  background-position: -100% 0;
}
.tag {
  overflow: hidden;
  display: block;
  height: 20px;
}
.tag a {
  color: #111;
}
.children {
  display: block;
}
.children a {
  color: #8B7575;
  font: 300 14px/20px Open Sans;
}
.hide {
  display: none;
}
@-webkit-keyframes expand {
  0% {
    margin-top: -55px;
  }
  100% {
    margin-top: 0px;
  }
}
@-moz-keyframes expand {
  0% {
    margin-top: -55px;
  }
  100% {
    margin-top: 0px;
  }
}
@-ms-keyframes expand {
  0% {
    margin-top: -55px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 20px;
  }
}
@-webkit-keyframes display {
  0% {
    height: 20px;
  }
  100% {
    height: 0px;
  }
}
@-moz-keyframes display {
  0% {
    height: 20px;
  }
  100% {
    height: 0px;
  }
}
@-ms-keyframes display {
  0% {
    height: 20px;
  }
  100% {
    height: 0px;
  }
}
.wrap {
  width: 80%;
  position: relative;
  height: 100%;
  float: left;
  margin-left: 10%;
  background-color: black;
}
.brand-gradient {
  position: absolute;
  float: left;
  display: block;
  right: 87%;
  top: 18px;
  width: 70px;
  height: 40px;
  z-index: -1;
  background-size: 200% 100%;
  background-position: -45% 0;
}
.two {
  top: 72px;
}
.three {
  top: 6px;
  left: -59px;
}
.brand {
  float: left;
  display: block;
  padding: 16px 20px 2px;
  margin: 0 0 10px -45px;
  font: 200 35px/25px dosis, exist, droid serif, times;
  color: #fff;
  width: 100%;
  text-shadow: 0px 4px 0px black;
}
.brand:hover {
  opacity: 1;
}
.brand:hover > div {
  background-position: -100% 0;
}
.brand:first-letter {
  font-size: 110%;
}
div.post {
  margin-bottom: 30px;
}
p:last-child > a {
  color: #290D0D;
}
.blur {
  background-color: rgba(0, 0, 0, 0.25);
  width: 8%;
  height: 1000px;
  position: absolute;
  left: -8%;
}
.row {
  height: 100%;
  min-height: 1000px;
  width: 100%;
  background-color: white;
  display: block;
  z-index: 14;
  margin-top: 42px;
  position: relative;
  padding-bottom: 250px;
}
.span8 {
  width: 80%;
  max-width: 1000px;
  display: block;
  position: relative;
  margin: 0 10%;
  top: 75px;
}
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
  font: 200 27px/25px dosis;
}
h3 {
  font: 400 35px/35px titillium, dosis, sans-serif;
  margin-bottom: 20px;
  color: #2b0909;
}
.content,
p {
  margin: 0 0 9px;
  font-family: open sans, droid sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
.content img,
p img {
  width: 414px;
  margin: 0 auto;
  display: block;
}
div.tags {
  font-family: dosis, sans-serif;
  font-size: 14px;
  opacity: .8;
}
div.tags a {
  padding-right: 5px;
}
.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  margin-top: -35px;
}
ul.pagination {
  list-style: none;
}
nav.bar {
  position: fixed;
  background-color: #222;
  top: 0;
  z-index: 15;
  height: 100%;
  background-position-x: 75%;
  width: 10%;
  min-width: 100px;
  background-size: 1043%;
  margin-left: -6%;
  text-indent: -59px;
  overflow: hidden;
}
nav.bar:hover {
  text-indent: 0px;
  margin-left: 0%;
}
nav.bar:hover > .about {
  margin-left: 0px;
}
nav.bar:hover > .lines {
  left: 0;
}
.out {
  position: fixed;
  background-color: #222;
  top: 0;
  z-index: 15;
  height: 100%;
  width: 10%;
  margin-left: 0%;
  min-width: 100px;
  overflow: hidden;
}
.out h1.expand {
  background-position: -100% 0;
}
.out .about {
  margin-left: 0;
}
.out .lines {
  left: 0;
}
.about {
  margin-left: -200px;
}
.bottom {
  width: 100%;
  min-width: 100px;
  position: absolute;
  bottom: 5%;
  top: 50%;
  z-index: -10;
}
h1.about-me {
  text-align: center;
  color: #C4C4C4;
}
img.self {
  width: 90px;
  margin: 34% auto 0;
  position: relative;
  display: block;
  z-index: -1;
}
p.me {
  font: 300 11px/15px open sans, sans-serif;
  margin: 0 auto;
  padding: 0 5% 0 4%;
  color: #706363;
  width: 90%;
}
@-webkit-keyframes move {
  from {
    margin-left: -6%;
  }
  to {
    margin-left: 0;
  }
}
@-moz-keyframes move {
  from {
    margin-left: -6%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes move {
  from {
    margin-left: -6%;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes move-back {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -6;
  }
}
@-moz-keyframes move-back {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -6;
  }
}
@keyframes move-back {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -6;
  }
}
ul.pagination {
  display: none;
}
footer > p {
  color: white;
  font: 200 12px/18px titillium;
  margin-left: 10%;
}
