/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display: block; position: relative; padding: 10px 0 10px 0; float: right; width: 100%}
#mc_embed_signup h2 {font-weight: bold; padding: 0; margin: 15px 0; font-size: 1.4em; }
 
#mc_embed_signup input { border: 2px solid #533232;  }
#mc_embed_signup input[type=checkbox]{ -webkit-appearance: checkbox; }
#mc_embed_signup input[type=radio]{ -webkit-appearance: radio; }
#mc_embed_signup input:focus { border-color: #799877; }
 
#mc_embed_signup .button {
  position: relative;
  background-color: rgba(36, 24, 24, 0);
  height: 36px;
  line-height: 36px;
  margin: 0px;
  padding: 5px 0px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border: none;
  font: 300 16px/20px open sans, sans serif;
  background: url('../images/mail.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 50%;
  width: 105px;
  text-align: right;
}
#mc_embed_signup .button:hover { color: grey;  }
#mc_embed_signup .button:active { top: 2px; border-bottom-width: 1px; }

#mc_embed_signup{
  //background:#fff; 
  clear:left; 
  top: 27px;
  position: relative;
  text-align: center;
  font:12px Helvetica,Arial,sans-serif; 
}

#mc_embed_signup input.email {
  margin: -9px -25px 0 0;
  padding: 5px 0px 5px 12px;
  font-family: open sans;
  color: #BCD1D1;
  font-size: 14px;
  border: none;
  background-color: #304c4c;
  display: block;
  width: 290%;
  max-width: 215px;
}


.form{
position: absolute; 
left: -5000px;
}
#notification_container {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}

#notification_container .alert {
  display: block;
  position: absolute;
  top: -75%;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  padding: 1px 5px;
  background-color: #B83B35;
  box-shadow: 1px 1px 8px black;
}

#notification_container .success {
  display: block;
  position: absolute;
  top: -75%;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  padding: 1px 5px;
  background-color: #15200F;
  box-shadow: 1px 1px 8px black;
}

@media only screen and (max-width:699px) {
#mc_embed_signup{
  top: 0;
}

#mc-embedded-subscribe-form{
  width: 100%;
  min-width: 390px;
  text-align: center;
}

#mc_embed_signup input.email{
  margin: 0;
  max-width: 215px;
  display: inline-block;
  float: none;
  margin-left: 13%;
}

#mc_embed_signup .button{
  position: relative; */
background-color: rgba(36, 24, 24, 0);
margin: 0px 0 0 0%;
padding: 5px 0px;
cursor: pointer;
text-decoration: none;
color: #ffffff;font: 300 16px/20px open sans, sans serif;
width: 110px;
text-align: right;
float: none;
}
}


@media only screen and (max-width:400px) {
  #mc-embedded-subscribe-form{
    min-width: 0px;
  }

  #mc_embed_signup input.email{
    width: 25%;
  }
}