/**
* Master CSS Style Sheet
*/

@font-face{
  font-family: dosis;
  src: url('../fonts/Dosis-ExtraLight.otf');
}


@font-face{
  font-family: exist;
  src: url('../fonts/Existence-Light.otf');
}

@font-face{
  font-family: Market;
  src: url('../fonts/market_deco-webfont.eot');
  src: url('../fonts/market_deco-webfont.eot?#iefix') format('embedded-opentype'),    
  url('../fonts/Market_Deco.ttf') format('truetype');
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Dosis: 200, 300, 400, 500, 600,700,800);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);


@import 'prefixer.less';
@import 'partials/navigation';
@import 'partials/keyframes';
@import 'partials/variables';

a, a:active, a:visited {
  text-decoration: none;
}
a {
  color: rgb(43, 9, 9);
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity:.8;
}
button:hover { 
  cursor: pointer;
}
h1, h3, h4, h5, h6 {
margin: 0;
color: white;
text-rendering: optimizelegibility;
font: 200 16px/25px dosis;
}
html{ 
  background-color: white;
}
body{
  margin: 0;
}

.wrap{
  float:left;
  width:80%;
  margin-left: 10%;
  background-color: white;
}
  .header{
    width: 100%;
    height: 323px;
    position: fixed;
    background-size: 100%;
    background-image: url('../images/header.jpg');
    background-attachment: fixed;
    left:0;
    @media only screen and (max-width:@medium-screen) {
      background-size: 200%;  
   }
  }
    a.design {
      font: 300 150px/30px Market;
      color: black;
      margin-top:175px;
      opacity: .2;
      text-align:center;
      left: 9.5%;
      position: fixed;
      width: 81%;
    }
    a.design:first-child{
      letter-spacing: -1px;
    }
    .radio{
      top: -19px;
    }
  .row{
    background-color: white;
    position: relative;
    min-height: 500px;
  }
  div.top{
    width: 77%;
    margin: 332px auto 0;
    font: 300 22px/30px open sans;
    text-align: center;
    padding: 11% 11.5%;
    overflow: hidden;
  }
    img.self{
      max-width: 110px;
      margin: -7% 2% 0 -10%;
      float: right;
      @media only screen and (max-width:@medium-screen) {
        width: 31%;
      }
    }
    p.top{
      font: 300 14px/18px open sans condensed,sans serif;
      color: black;
      float: left;
      width: 70%;
      @media only screen and (max-width:@medium-screen) {
        width: 65%;
      }
    }
  .blog{
    margin: 0 10%;
    @media only screen and (max-width:@medium-screen) {
        width: 80%;
        margin:0 auto;
      }
    @media only screen and (max-width:@small-screen) {
        width: 100%;
      }
  }
    div.post{
      margin: 0 10% 30px;
      .box-shadow(0 1px 0px rgba(34, 2, 2, 0.1));
      @media only screen and (max-width:@medium-screen) {
        margin: 0 0 30px;
      }
    }
      h3 {
        font: 300 40px/50px open sans condensed,sans-serif;
        margin-bottom: 20px;
        color:rgb(43, 9, 9);
        text-align: center;
        @media only screen and (max-width:@medium-screen) {
           font: 700 35px/45px open sans condensed,sans-serif;
         }
         @media only screen and (max-width:@small-screen) {
           font: 700 30px/40px open sans condensed,sans-serif;
         }
        a{
          color: #000;
        }
      }
      .bold{
         font: 700 50px/70px open sans condensed,sans-serif;
         margin-bottom: 10%;
         text-align: left;
         @media only screen and (max-width:@medium-screen) {
           font: 700 40px/60px open sans condensed,sans-serif;
         }
         @media only screen and (max-width:@small-screen) {
           font: 700 30px/42px open sans condensed,sans-serif;
         }
       }
      .content, p {
        margin: 0 0 9px;
        font-size: 400 18px/25px droid serif,dosis, sans-serif;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        margin: 0 auto 2%;
        text-align: left;
        p{
            a{
              margin: 2% 0 0 19%;
              padding: 0 25% 28% 25%;
              opacity: 0;
            }
        }
        img{
          width: 100%;
          max-width: 414px;
          margin: 0 auto;
          display: block;
          padding: 26px 0 13px 0;
        }
        @media only screen and (max-width:@medium-screen) {
          font-size: 400 16px/22px droid serif,dosis, sans-serif;
        }
      }
      .preview p{
          font-family: dosis, sans-serif;
          text-align: center;
          margin: 0 auto 1%;
      }
      pre{
        background: #A0A1AD;
        padding: 9% 0 0 2%;
        overflow: scroll;
      }
      img.arrow{
        width: 30px;
        margin: 0 auto;
      }
      div.tags{
        font: 200 12px/17px open sans,sans-serif;
        opacity:.8;
        a{
          padding-right:5px;
          color: black;
        }
      }
//WORK
  p.main{
    font: 300 18px/25px open sans condensed, sans-serif;
    text-align: center;
    margin: 0 0 -5% 0%;
    @media only screen and (max-width:@medium-screen) {
      font: 300 14px/18px open sans condensed, sans-serif;
    }
  }
  @media only screen and (max-width:@small-screen) {
        .collapse{
          text-align: center;
        }
      }
  
    .art{
      position: relative;
      max-width: 1000px;
      height: auto;
      margin: 0 auto;
      left: 3%;
      z-index:0;
    }
      a.fancybox{
        width: 27%;
        max-width: 300px;
        margin: 5% 1% 0%;
        left: 4%;
        height: auto;
        float: left;
        z-index: 15;
        top: 46px;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 3px black;
        &:hover{
          opacity:1;
        }
        @media only screen and (max-width:@medium-screen) {
          width: 37%;
          left: 7%;
          box-shadow: 1px 1px 3px black;
        }
        @media only screen and (max-width:@small-screen) {
              width: 50%;
              min-width: 130px;
              left:0;
              display: inline-block;
              margin: 10px auto;
              margin-right: 10px;
              overflow: hidden; 
              float: none;
              box-shadow: 1px 1px 3px black;
        }
      }
      .image-hover{
        color:white;
        position: absolute;
        height: 100%;
        width: 100%;
        background: black;
        z-index:1;
        opacity:0;
      }
      .transition{
        background: rgba(0,0,0, 0.5);
        -webkit-transition:-webkit-transform 0.5s ease-in-out;
        transition:transform 0.5s ease-in-out;
        z-index:1;
        opacity:1;
        top:-100%;
        right: -100%;
        margin: 0 0 100% 100%;
        .transform( translate(-100%, 100%));
      }
      .transition-out{
        -webkit-transition: -webkit-transform  0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        .transform(translate(100%, -100%));
      }
        h2{
          font: 300 25px/30px  open sans, sans serif;
          text-align: center;
          color: white;
          opacity:.4;
        }
      img.small{
        position: relative;
        display: block;
        width: 100%;
        &:hover{
          cursor: pointer;
        }
      }

ul.pagination{
  list-style: none;
  display:none;
}

footer{
  background-color:white;
  clear: both;
  padding-top: 10%;
  p{
    color: black;
    font: 200 12px/18px open sans, sans serif;
    margin-left: 10%;
    padding-bottom: 20px;
    text-align: left;
  }
}




