/**
* Master CSS Style Sheet
*/

@font-face{
  font-family: dosis;
  src: url('../fonts/Dosis-ExtraLight.otf');
}

@font-face{
  font-family: titillium;
  src: url('../fonts/Titillium-Light-webfont.eot');
  src: url('../fonts/Titillium-Light-webfont.eot?#iefix') format('embedded-opentype'),    
  url('../fonts/Titillium-Light.otf');
}

@font-face{
  font-family: exist;
  src: url('../fonts/Existence-Light.otf');
}

@font-face{
  font-family: Market;
  src: url('../fonts/market_deco-webfont.eot');
  src: url('../fonts/market_deco-webfont.eot?#iefix') format('embedded-opentype'),    
  url('../fonts/Market_Deco.ttf') format('truetype');
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Dosis: 200, 300, 400, 500, 600,700,800);


@import 'prefixer.less';
@import 'partials/tablet';
@import 'partials/mobile';
@import 'partials/navigation';
@import 'partials/keyframes';
@import 'partials/variables';

a, a:active, a:visited {
  text-decoration: none;
}
a {
  color: rgb(43, 9, 9);
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity:.8;
}
button:hover {
  cursor: pointer;
}
h1, h3, h4, h5, h6 {
margin: 0;
font-weight: bold;
color: #333333;
text-rendering: optimizelegibility;
font: 200 27px/25px dosis;
}
html{ 
  background-color: white;
}

@media only screen and (min-width: 700px) {
  
body{
  margin: 0;
}

.wrap{
  width: 80%;
  position: relative;
  height: 100%;
  float:left;
  margin-left: 10%;
  background-color: white;
}
  .header{
    width: 100%;
    height: 39%;
    position: fixed;
    display: block;
    z-index: 1;
    background-size: 100%;
    background-image: url('../images/head.jpg');
    background-attachment: fixed;
    left:0;
    opacity: 1;
  }
    a.design {
      font: 300 150px/30px Market;
      color: black;
      margin-top:192px;
      opacity: .2;
      text-align:center;
      left: 9.5%;
      position: fixed;
      width: 81%;
    }
    a.design:first-child{
      letter-spacing: -1px;
    }
    .radio{
      top: -19px;
    }
  .row{
    height: 100%;
    min-height: 1000px;
    width: 100%;
    background-color: white;
    display: block;
    z-index: 14;
    margin-top: 42px;
    position: relative;
    padding-bottom: 250px;
  }
  article.blog{
    width: 77%;
    display: block;
    position: relative;
    margin: 332px auto 0;
    font: 300 22px/30px open sans;
    text-align: center;
    padding: 11% 11.5%;
    overflow: hidden;
  }
    img.self{
      width: 110px;
      margin: -7% -15% 0 100%;
      position: relative;
      display: block;
      float: right;
    }
    p.top{
      font: 300 14px/18px open sans condensed,dosis,sans serif;
      text-align: left;
      color: black;
      float: right;
      margin: -17.2% -20% 0 0;
      width: 111%;
      padding: 31px 5px 9px 0px;
    }
  .span8{
    width: 80%;
    max-width: 1000px;
    display: block;
    position: relative;
    margin: 0 10%;
  }
    div.post{
      margin: 0 10% 30px;
      .box-shadow(0 1px 0px rgba(34, 2, 2, 0.8));
    }
      h3 {
        font: 500 35px/35px open sans condensed,sans-serif;
        margin-bottom: 20px;
        color:rgb(43, 9, 9);
        text-align: center;
        a{
          color: #1D2931;
        }
      }
      .content, p {
        margin: 0 0 9px;
        font-family: dosis, sans-serif;
        font-weight: normal;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        -webkit-font-smoothing: antialiased;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        img{
          width: 414px;
          margin: 0 auto;
          display: block;
        }
      }
      pre{
        background: #D6D6D6;
        padding: 5% 0 0 2%;
      }
      img.arrow{
        width: 30px;
        margin: 0 auto;
      }
      div.tags{
        font-family: dosis, sans-serif;
        font-size: 14px;
        opacity:.8;
        a{
          padding-right:5px;
        }
      }
      p:last-child{
        //display: none;
      }

//WORK
article.main{
  background-color: white;
  top: 50px;
  z-index: 1;
  display: block;
  width: 100%;
  position: relative;
  margin: 335px 0 0 0px;
}
  p.main{
    font: 300  18px/25px open sans condensed, sans-serif;
    top: 0;
    text-align: center;
    width: 72%;
    margin: 0 0 -3% 11%;
    padding-top: 1%;
  }
    .art{
      display: block;
      position: relative;
      width:100%;
      max-width: 1000px;
      height: auto;
      margin: 0 auto;
      left: 3%;
    }
      a.fancybox{
        width: 27%;
        max-width: 300px;
        margin: 5% 1% 0%;
        left: 4%;
        height: auto;
        display: block;
        float: left;
        z-index: 15;
        top: 46px;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 3px black;
        &:hover{
          opacity:1;
        }
      }
      .image-hover{
        color:white;
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: black;
        z-index:1;
        opacity:0;
      }
        h2{
          font: 300 25px/30px  open sans, sans serif;
          text-align: center;
          color:white;
          opacity:.4;
        }
      img.small{
        position: relative;
        display: block;
        width: 100%;
        
         &:hover{
        cursor: pointer;
        }
      }
}
ul.pagination{
  list-style: none;
  display:none;
}

footer{
  background-color:white;
  p{
    color: black;
    font: 200 12px/18px open sans, sans serif;
    margin-left: 10%;
    padding-bottom: 20px;
    text-align: left;
  }
}



