.line, .line-two, .line-three, .line-four, .line-five,.line-six, .line-seven,.line-eight, .line-nine, .line-ten{
  float: right;
  height: 1px;
  width: 100%;
  background: #241818;
  position: absolute;
  right: 32%;
  top: 5%;
  z-index: -1;
  .rotate(60deg);
  box-shadow: -44px -62px rgb(27, 27, 27);
  opacity: .4;
}

.line-two{
  background: rgba(0,0,0,.2);
  right: 31%;
  height: 2px;
  top: -2%;
  .rotate(15deg);
  box-shadow: 51px 53px black;
}

.line-three{
  right: 29%;
  .rotate(167deg);
  box-shadow: -44px 40px #1b1b1b;
  opacity: .2;
}

.line-four{
  right: 28%;
  .rotate(225deg);
  height: 1%;
  opacity: .8;
  box-shadow: -44px -62px rgba(0,0,0,.2);
}

.line-five{
  right: 47%;
  .rotate(28deg);
}

.line-six{
  right: 39%;
  .rotate(51deg);
}

.line-seven{
  right: 41%;
  .rotate(11deg);
}

.line-eight{
  right: 52%;
  .rotate(45deg);
}

.line-nine{
  right: 64%;
  .rotate(34deg);
}

.line-ten{
  right: 51%;
  .rotate(67deg);
}

.lines{
  top: 110px;
  left: -100px;
  position: relative;
  .transition(.5s ease-in-out)
}

.line-1, .line-2, .line-3, .line-4{
  float: right;
  height: 1px;
  position: absolute;
  z-index: -1;
  .rotate(35deg);
  opacity: .8;
  background: #6F6F6F;
  left: 33px;
  margin-top: 30px;
  width: 52px;
  box-shadow: -28px 1px black;
}

.line-2{
  margin-top: -54px;
  width: 100px;
  left: -12px;
  box-shadow: 22px 1px black;
}

.line-3{
  left: 37px;
  margin-top: 18px;
  width: 100px;
  box-shadow: -22px 1px #000;
}

.line-4{
  left: 1px;
  margin-top: -97px;
  width: 52px;
  box-shadow: 16px 1px black
}

